
  <div class = "midContainer">
    <div class="statusWindow" >
      <ul class="statusOptions">
        <li><span>Online</span></li>
        <li><span>Offline</span></li>
        <li><span>Last seconds</span></li>
      </ul>
      <ul class="stationList">
        <li><a routerLink="/x">Trang Bang</a></li>
        <li><a routerLink="/x">Risesun</a></li>
        <li><a routerLink="/x">Risesun</a></li>
        <li><a routerLink="/x">Risesun</a></li>
        <li><a routerLink="/x">Risesun</a></li>
        <li><a routerLink="/x">Risesun</a></li>
        <li><a routerLink="/x">Risesun</a></li>
        <li><a routerLink="/x">Trang Bang</a></li>
        <li><a routerLink="/x">Trang Bang</a></li>
        <li><a routerLink="/x">Trang Bang</a></li>
        <li><a routerLink="/x">Trang Bang</a></li>
        <li><a routerLink="/x">Trang Bang</a></li>
        <li><a routerLink="/x">Trang Bang</a></li>
        <li><a routerLink="/x">Trang Bang</a></li>
      </ul>
    </div>
    <div class = "dataWindow">
        <ul>
          <li>{{foodString}}</li>

        </ul>
  
    </div>
  </div>